@import url('~simpledotcss/simple.min.css');

.choice {
    color: var(--accent);
    background-color: var(--bg);
    border: 1px solid var(--accent);
    user-select: none;
    cursor: grab;
    white-space: nowrap;
}

.chosen {
    color: var(--bg);
    background-color: var(--accent);
}

.ordering {
    color: var(--accent);
    background-color: var(--bg);
    border: 1px solid var(--accent);
}
