.choice {
    color: var(--accent);
    background-color: var(--bg);
    border: 1px solid var(--accent);
    user-select: none;
    cursor: grab;
    white-space: nowrap;
}

.chosen {
    color: var(--bg);
    background-color: var(--accent);
}

.ordering {
    color: var(--accent);
    background-color: var(--bg);
    border: 1px solid var(--accent);
}

.copyurl {
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text);
    background-color: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: none;
    max-width: 100%;
    display: inline-block;
    cursor: pointer;
}
